@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
  background-image: url("../Image/perumahan.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.kotak {
  background: linear-gradient(#001b2f, #002a45, #003f66);
  width: 500px;
  height: 100%;
  padding: 30px;
  opacity: 0.95;
  border-radius: 8%;
  position: relative;
  box-sizing: border-box;
  color: #ffb915;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Bagian atas (logo dan teks) */
.kotak2 {
  text-align: center;
}

.kotak2 img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.font1 {
  color: #ffb915;
  font-size: larger;
}

.font1 span {
  font-size: 16px;
}

/*form*/
label {
  font-size: 20px;
}

/* Input */
.input {
  color: #ffb915;
  text-align: left;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: #ffffff;
  padding-left: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.inp1 {
  margin-bottom: 20px;
  margin-top: 10px;
}

.inp2 {
  margin-top: 10px;
  border: none;
}

/* Tombol Login */
.login {
  display: flex;
  justify-content: center;
}

button {
  width: 130px;
  height: 35px;
  border-radius: 10px;
  background-color: #ffb915;
  color: #001b2f;
  border: none;
  text-align: center;
  display: block;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #ffcc40;
}

.error {
  background: rgba(255, 185, 21, 0.15);
  color:red;
  border: 1px solid #ffb915;
  padding: 10px 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 18px;
  top: 28px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #001b2f;
  transition: color 0.3s ease, transform 0.2s ease;
}

.toggle-password:hover {
  color: #ffb915;
  transform: translateY(-50%) scale(1.1);
}

/* animasi saat toggle */
.toggle-password.active {
  color: #ffb915;
}

/* Responsif untuk tablet dan HP */
@media (max-width: 768px) {
  .kotak {
    width: 500px;
    height: auto;
    padding: 25px;
    margin: 10px;
    border-radius: 20px;
    left: 0;
    top: 0;
  }

  .inp {
    font-size: 14px;
    height: 38px;
  }

  .login {
    height: 40px;
    font-size: 15px;
  }

  .font1 h2 {
    font-size: langer;
  }
}

@media (max-width: 480px) {
  body {
    background-position: center;
  }

  .kotak {
    width: 450px;
    padding: 20px;
  }

  .inp {
    font-size: 14px;
    height: 35px;
    width: 100%;
    margin-bottom: 20px;
  }

  .login {
    height: 40px;
  }

  .font1 h2 {
    font-size: 18px;
  }
}
