/* ========== GLOBAL ========== */
* {
  font-family: Arial, sans-serif;
}

input[type="search"] {
  width: 100%;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  transition: all 0.3s ease;
  background: #f4f4f4;
}

/* ========== SIDEBAR ========== */
#sidebar {
  position: fixed;
  height: 100%;
  width: 18%;
  background: linear-gradient(#001b2f, #002a45, #003f66);
  color: white;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar.closed {
  width: 5%;
}

/* Tombol Toggle */
.toggle-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  background: transparent;
  color: #ffb915;
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1100;
  font-size: 18px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 50px;
}

.logo-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-image: url("../Image/logo.png");
  background-size: cover;
  background-position: center;
}

#sidebar.closed .logo-circle {
  display: none;
}

#sidebar.closed .logo {
  justify-content: center;
  padding-bottom: 40px;
}

/* Menu */
#sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

#sidebar ul li {
  display: flex;
  align-items: center;
  padding: 1px 20px;
  cursor: pointer;
  transition: 0.3s;
  gap: 15px;
  white-space: nowrap;
  color: #ffb915;
}

#sidebar ul li img {
  width: 22px;
  height: 22px;
}

#sidebar ul li:hover {
  background: blue;
}

#sidebar.closed ul li p,
#sidebar.closed p {
  display: none;
}

#sidebar.closed img {
  padding: 20px 0;
}

.footer {
  text-align: center;
  padding: 1px;
  font-size: 12px;
  color: #ffb915;
}

/* ========== KONTEN ========== */
.container {
  margin-left: 18%;
  transition: margin-left 0.3s ease;
  padding: 20px 0;
  display: block;
  width: calc(80% - 16%);
  flex: 1;
}

main {
  padding-right: 2%;
  padding-left: 1.5%;
}

#sidebar.closed + .container {
  margin-left: 90px;
}

/* Header */
header {
  position: sticky;
  top: 30px;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.text-head {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.judul {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.subjudul {
  margin: 0;
  font-size: 14px;
  color: #333;
}
.profile-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("../Image/logoprofile.jpeg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.profile-popup {
  position: absolute;
  top: 60px;
  right: 0;
  width: 260px;
  background: #002a45;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: none;
  z-index: 10;
  animation: fadeIn 0.25s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-header {
  background: #001b2f;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-header .photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("../Image/logoprofile.jpeg");
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.profile-header .info {
  display: flex;
  flex-direction: column;
}

.profile-header .info strong {
  font-size: 14px;
}

.profile-header .info small {
  font-size: 12px;
  color: #ccc;
}

.profile-body {
  background: #003f66;
  color: white;
  padding: 15px;
  font-size: 13px;
  min-height: 300px;
}

.profile-body p {
  margin: 6px 0;
}

/*Content*/
/* === SEARCH FORM === */
.search {
  width: 140%;
  display: flex;
  align-items: center;
  padding: 12px 40px;
  border-radius: 28px;
  background: #e1e1e1;
  margin-left: 20px;
  margin-right: 20px;
}

.search-input {
  font-size: 15px;
  color: #333333;
  margin-left: 10px;
  outline: none;
  border: none;
  background: transparent;
}

.search-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.25);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 15px 20px;
  padding-bottom: 5px;
  white-space: nowrap;
}

td {
  border: none;
}

table tbody tr {
  border-bottom: 1px solid #939393; /* bisa ganti warna */
}

table tbody tr:hover td {
  background-color: #ffcc56;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.18);
  transform: translateY(-3px);
  transition: 0.25s ease;
}

tr:hover {
  border: none;
}

.table-container {
  max-height: 500px;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #ccc;
  transform: translateZ(0);
  will-change: transform;
  border-radius: 10px;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.table-container {
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.table-container::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
  background: transparent !important;
}

.table-container::-webkit-scrollbar-thumb,
.table-container::-webkit-scrollbar-track {
  background: transparent !important;
}

@supports (-ms-ime-align: auto) {
  .table-container {
    -ms-overflow-style: none !important;
    overflow: auto;
  }
}

.table-container thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #003f66;
  border-top: none;
  color: white;
}

.title-search {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 15px;
  margin-top: 40px;
  padding-right: 0%;
}

.button-tambah {
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  background-color: #f5ca43;
  border: none;
  border-radius: 12px;
  white-space: nowrap;
  width: 15%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.button-tambah img {
  width: 20px;
}

.button-tambah:hover {
  background-color: #c6a63a;
}

.logo-aksi {
  width: 20px;
}

.btn {
  background-color: #ffb915;
  color: #001b2f;
  border-radius: 12px;
  width: 40%;
  height: 25px;
  margin-top: 120px;
  font-weight: bolder;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
}
.btn:hover {
  background-color: #d19710;
}

.button-delete,
.button-update {
  cursor: pointer;
}

.button-delete:hover,
.button-update:hover {
  color: red;
}

/*POP UP HAPUS DATA WARGA*/
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  justify-content: center;
  align-items: center;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translate(-50%, -48%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Modal Content */
.modal-content {
  background-color: #003f66;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #888;
  height: 399px;
  width: 500px;
  text-align: center;
  color: #ffb915;
  border-radius: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  position: relative;
}

.modal-content h1 {
  padding: 20px 20px 10px;
  color: #ffb915;
  font-weight: 600;
}

/* The Close Button */
.close {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 35px;
  height: 35px;
  background-color: #ffb915;
  color: #003f66;
  border-radius: 50%;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #f7d46c;
  background-color: #003f66;
  text-decoration: none;
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input1,
.input2 {
  width: 150px;
  height: 60px;
  border-radius: 20px;
  border: none;
  color: yellow;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
  margin: 0 30px;
}

#ya {
  background-color: green;
}

#btnTidak {
  background-color: red;
}

input:hover {
  opacity: 0.8;
}

.input-alasan {
  width: 430px;
  font-size: 25px;
  border-radius: 30px;
  background: #ffb915;
  padding: 5px 10px;
  outline: none;
  text-align-last: center;
}

/* Tablet */

@media (max-width: 992px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }

  #sidebar {
    width: 200px;
  }

  #sidebar.closed {
    width: 7%;
  }

  .container {
    margin-left: 20%;
    width: calc(80% - 10%);
  }

  #sidebar.closed + .container {
    margin-left: 80px;
  }

  .search {
    width: 100%;
  }

  .logo-circle {
    height: 100px;
    border-radius: 50%;
    background-image: url(../Image/logo.png);
    background-size: cover;
    background-position: center;
    margin: 30px;
  }

  .logo {
    padding: 20px;
  }

  .judul {
    font-size: 18px;
  }

  .profile-logo {
    margin-left: 0;
  }

  .table-container {
    overflow-y: visible;
    max-height: none;
  }

  .toggle-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    background: #003f66;
    color: #ffb915;
    border-radius: 8px;
    padding: 8px 10px;
    z-index: 1100;
  }

  header {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .button-tambah {
    width: 20%;
    margin-top: 5px;
  }

  .footer {
    margin-top: 70px;
  }
}

/* Tablet kecil / HP horizontal */
@media (max-width: 768px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }

  #sidebar {
    width: 200px;
  }

  #sidebar.closed {
    width: 8%;
  }

  .container {
    overflow-x: auto;
    width: 80%;
    margin-left: 26%;
  }

  #sidebar.closed + .container {
    margin-left: 60px;
  }

  .search {
    width: 65%;
  }

  .logo-circle {
    height: 100px;
    border-radius: 50%;
    background-image: url(../Image/logo.png);
    background-size: cover;
    background-position: center;
    margin: 30px;
  }

  .logo {
    padding: 20px;
  }

  .judul {
    font-size: 18px;
  }

  .profile-logo {
    margin-left: 0;
  }

  .table-container {
    overflow-y: visible;
    max-height: none;
  }

  .toggle-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    background: #003f66;
    color: #ffb915;
    border-radius: 8px;
    padding: 8px 10px;
    z-index: 1100;
  }

  header {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .button-tambah {
    width: 18%;
    margin-top: 5px;
    font-size: 10px;
  }

  .footer {
    margin-top: 70px;
  }
}

@media (max-width: 480px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }

  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    transition: transform 0.3s ease;
    transform: translateX(0);
    z-index: 1000;
    font-size: 15px;
    padding-bottom: 0%;
  }

  #sidebar.closed {
    transform: translateX(-100%);
    display: none;
  }

  .toggle-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    background: #003f66;
    color: #ffb915;
    border-radius: 8px;
    padding: 8px 10px;
    z-index: 1100;
  }

  .container {
    margin-left: 0 !important;
    padding: 70px 10px 20px;
    width: 100% !important;
    box-sizing: border-box;
    transition: none;
  }

  header {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .search {
    width: 360px;
    margin-left: 25px;
  }

  .title-search {
    flex-direction: column;
  }

  .title-search h2 {
    margin-right: 250px;
  }

  .button-tambah {
    width: 98%;
    margin-top: 20px;
    font-size: 20px;
  }

  .button-tambah img {
    width: 8%;
    padding: 0px 15px;
  }

  .footer {
    margin-top: 0px;
  }
}
