* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: #f3f4f6;
  margin: 0;
  padding: 55px;
}

.kk {
  max-width: 1200px;
  margin: auto;
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* HEADER */
.kk-header {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  border-bottom: 3px solid #0b5ed7;
  padding-bottom: 12px;
}

.logo-garuda {
  width: 90px;
}

.header-left {
  flex: 1;
}

.header-left h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.header-left p {
  margin: 2px 0;
  font-size: 13px;
  color: #555;
}

.kk-no {
  text-align: right;
  font-size: 13px;
}

.kk-no b {
  display: block;
  font-size: 16px;
}

/* INFO */
.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 12px;
  margin-top: 16px;
}

.info .label {
  font-weight: 600;
  font-size: 13px;
}

.info .value {
  font-size: 13px;
  color: #555;
}

/* TABLE */
.table-wrapper {
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1000px;
  font-size: 14px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: middle;
}

th {
  background: #f8f9fa;
  text-align: center;
}

input,
select {
  width: 100%;
  padding: 4px;
  font-size: 12px;
}

/* BUTTON */
.button-box {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

.btn-cancel,
.btn-submit {
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.btn-cancel {
  background: #dc3545;
}
.btn-submit {
  background: #28a745;
}

@media (max-width: 992px) {
  .info {
    display: flex;
    gap: 100px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .kk {
    padding: 16px;
  }

  .logo-garuda {
    width: 70px;
  }

  .button-box {
    justify-content: flex-end; 
    flex-wrap: wrap;
  }

  .btn-cancel,
  .btn-submit {
    width: 13%;
  }

  .info {
    display: flex;
    gap: 40px;
  }
}

/* PRINT */
@media (max-width: 480px) {


  .kk {
    padding: 16px;
  }

  .info{
    display: flex;
    gap: 0px;
  }

    .btn-cancel,
  .btn-submit {
    width: 20%;
  }
 
  .kk-no b {
    font-size: 13px;
  }
}
