* {
  font-family: Arial, sans-serif;

}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  transition: all 0.3s ease;
  background: #f4f4f4;
}

/* ========== SIDEBAR ========== */
#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 18%;
  background: linear-gradient(#001b2f, #002a45, #003f66);
  color: white;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar.closed {
  width: 5%;
}

/* Tombol Toggle */
.toggle-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  background: transparent;
  color: #ffb915;
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1100;
  font-size: 18px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 50px ;
}

.logo-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-image: url(../Image/logo.png);
  background-size: cover;
  background-position: center;
}

#sidebar.closed .logo-circle {
  display: none;
}

#sidebar.closed .logo {
  justify-content: center;
  padding-bottom: 40px;
}

/* Menu */
#sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

#sidebar ul li {
  display: flex;
  align-items: center;
  padding: 1px 20px;
  cursor: pointer;
  transition: 0.3s;
  gap: 15px;
  white-space: nowrap;
  color: #ffb915;
}

#sidebar ul li img {
  width: 22px;
  height: 22px;
}

#sidebar ul li:hover {
  background: blue;
}

#sidebar.closed ul li p,
#sidebar.closed p {
  display: none;
}

#sidebar.closed img {
  padding: 20px 0;
}

.footer {
  text-align: center;
  padding: 1px;
  font-size: 12px;
  color: #ffb915;
}

/* ========== KONTEN ========== */
.container {
  margin-left: 18%;
  transition: margin-left 0.3s ease;
  padding: 20px 0;
  display: block;
  width: calc(80% - 16%);
  flex: 1;

}

main {
  padding-right: 2%;
  padding-left: 1.5%;
}

#sidebar.closed+.container {
  margin-left: 90px;
}

/* Header */
header {
  position: sticky;
  top: 30px;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.text-head {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.judul {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.subjudul {
  margin: 0;
  font-size: 14px;
  color: #333;
}


.profile-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("../Image/logoprofile.jpeg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.profile-popup {
  position: absolute;
  top: 60px;
  right: 0;
  width: 260px;
  background: #002a45;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: none;
  z-index: 10;
  animation: fadeIn 0.25s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-header {
  background: #001b2f;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-header .photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("../Image/logoprofile.jpeg");
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.profile-header .info {
  display: flex;
  flex-direction: column;
}

.profile-header .info strong {
  font-size: 14px;
}

.profile-header .info small {
  font-size: 12px;
  color: #ccc;
}

.profile-body {
  background: #003f66;
  color: white;
  padding: 15px;
  font-size: 13px;
  min-height: 300px;
}

.profile-body p {
  margin: 6px 0;
}

.btn {
  background-color: #ffB915;
    color:#001b2f;
    border-radius: 12px;
    width: 40%;
    height: 25px;
    margin-top: 120px;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
}

.button {
  height: 35px;
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: #ffb915;
  cursor: pointer;
}

.button:hover {
  background-color: #af8012;
}

/* === KONTEN === */



/* === FILTER DAN TABEL === */
.title-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 20px;
}

.button-cetak {
  background-color: #f5ca43;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-left: 120px;
  
}

.button-cetak img {
  width: 20px;
}

.button-cetak:hover {
  background-color: #c6a63a;
}

.semuaumur {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  

}

.semuaumur select.dropdown{
    width: 180px;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    background-color: #093d64;
    color: white;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    
}

.semuaumur select.dropdown:hover {
    background-color:#3383c9;
    transform: scale(1.02);
}

.semuaumur select.dropdown:focus {
    border-color: #5b8cff;
    box-shadow: 0 0 4px rgba(91, 140, 255, 0.5);
}


.semuaumur select {
  border: 0;
  border-radius: 10px;
  background-color: rgb(219, 213, 213);
  width: 180px;
  height: 40px;
  padding-left: 15px;
  font-size: 12px;
  font-weight: bolder;
}

.tombol-cetak{
  margin-left:auto;
}

.border-select {
  width: 97%;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 12px 15px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}





/* === TABEL === */

.table-container {
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
      box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.table-container::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
    background: transparent !important;
}

.table-container::-webkit-scrollbar-thumb,
.table-container::-webkit-scrollbar-track {
    background: transparent !important;
}


@supports (-ms-ime-align:auto) {
    .table-container {
        -ms-overflow-style: none !important;
        overflow: auto;
    }
}


.table-container {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px;
}

th, td {
  
  padding: 15px 20px;
  text-align: center;
  white-space: nowrap;
}

td{
    border:none;

}

table tbody tr {
    border-bottom: 1px solid #000000;

}


table tbody tr:hover td {
    background-color: #ffcc56;
    box-shadow: 0 6px 16px rgba(0,0,0,0.18);
    transform: translateY(-3px);
    transition: 0.25s ease;
}

tr:hover{
  border:none;
}


.table-container thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #003f66 ;
  color :white;
  border-top: none;

}


/*======TABLET=========*/
@media (max-width: 992px) {
    body {
    margin: 0;
    overflow-x: hidden;
  }

  #sidebar {
    width: 200px;
  }

  #sidebar.closed {
    width: 7%;
  }

   #sidebar.closed + .container {
    margin-left: 20px;
  }

  .container {
    margin-left: 150px;
  }

  .toggle-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    background: #003f66;
    color: #ffb915;
    border-radius: 8px;
    padding: 8px 10px;
    z-index: 1100;
  }


  .note {
    border: 1px;
    background-color: #ffb915;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 28px;
    width: 90%;
    height: 30px;
    display: flex;
    align-items: center;
    top: 120px;
    z-index: 700;
    overflow-wrap: break-word;

  }


  main {
    padding-left: 7%;
  }


  .aside {
    width: 18%;
  }


  .logo {
    padding: 20px;
  }

  .judul {
    font-size: 18px;
  }

  header {
    width: 100%;
  }

  th,
  td {
    padding: 10px;
    font-size: 14px;
  }

  .profile-logo {
    margin-left: 0;
  }

  .logo-circle {
    height: 100px;
    border-radius: 50%;
    background-image: url(../Image/logo.png);
    background-size: cover;
    background-position: center;
    margin: 30px;
  }

  .alert {
    font-size: 80%;
  }

  .button-cetak {
    width: 120px;
    margin-left: 0;
    margin-bottom: 50px;
    font-size: 13px;
  }

  .button-cetak img {
    width: 25px;
  }


  .semuaumur {
    width: 1000px;
  }

}

/* Tablet kecil / HP horizontal */
@media (max-width: 768px) {
 body {
    margin: 0;
    overflow-x: hidden;
  }

  #sidebar {
    width: 200px;
  }

  #sidebar.closed {
    width: 9%;
  }

   #sidebar.closed + .container {
    margin-left: 25px;
  }

    .container {
    overflow-x: auto;
    width: 80%;
    margin-left: 23%;
  }


  .toggle-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    background: #003f66;
    color: #ffb915;
    border-radius: 8px;
    padding: 8px 10px;
    z-index: 1100;
  }


  .note {
    border: 1px;
    background-color: #ffb915;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 28px;
    width: 90%;
    height: 30px;
    display: flex;
    align-items: center;
    top: 120px;
    z-index: 700;
    overflow-wrap: break-word;

  }


  main {
    padding-left: 7%;
  }


  .aside {
    width: 18%;
  }


  .logo {
    padding: 20px;
  }

  .judul {
    font-size: 18px;
  }

  header {
    width: 100%;
  }

  th,
  td {
    padding: 10px;
    font-size: 14px;
  }

  .profile-logo {
    margin-left: 0;
  }

  .logo-circle {
    height: 100px;
    border-radius: 50%;
    background-image: url(../Image/logo.png);
    background-size: cover;
    background-position: center;
    margin: 30px;
  }

  .alert {
    font-size: 80%;
  }

  .button-cetak {
    width: 120px;
    margin-left: 0;
    margin-bottom: 50px;
    font-size: 13px;
  }

  .button-cetak img {
    width: 25px;
  }


  .semuaumur {
    width: 1000px;
  }



}

@media (max-width: 480px) {

body {
    margin: 0;
    overflow-x: hidden;
  }

  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    transition: transform 0.3s ease;
    transform: translateX(0);
    z-index: 1000;
    font-size: 15px;
    padding-bottom: 0%;
  }

  #sidebar.closed {
    transform: translateX(-100%);
    display: none;
  }

    .container {
    margin-left: -20px ;
    padding: 70px 10px 0px;
    width: 100% !important;
    box-sizing: border-box;
    transition: none;
    overflow-y: auto;
    overflow-x: auto;
  }

   #sidebar.closed + .container {
    margin-left: -20px;
  }


  .toggle-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    background: #003f66;
    color: #ffb915;
    border-radius: 8px;
    padding: 8px 10px;
    z-index: 1100;
  }


  .note {
    border: 1px;
    background-color: #ffb915;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 28px;
    width: 90%;
    height: 30px;
    display: flex;
    align-items: center;
    top: 120px;
    z-index: 700;
    overflow-wrap: break-word;

  }


  main {
    padding-left: 7%;
  }


  .aside {
    width: 18%;
  }


  .logo {
    padding: 20px;
  }

  .judul {
    font-size: 18px;
  }

  header {
    width: 100%;
  }

  th,
  td {
    padding: 10px;
    font-size: 14px;
  }

  .profile-logo {
    margin-left: 0;
  }

  .logo-circle {
    height: 100px;
    border-radius: 50%;
    background-image: url(../Image/logo.png);
    background-size: cover;
    background-position: center;
    margin: 30px;
  }

  .alert {
    font-size: 80%;
  }

.button-cetak {
    width: 100% !important;
    margin: 0 !important;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 10px;
    position: static;
  }

  .button-cetak img {
    width: 25px;
  }


.border-select {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 95%;
    margin: 0 auto 20px auto;
    padding: 15px;
    gap: 15px;
    align-items: stretch;
    box-sizing: border-box;
  }

  .semuaumur {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    margin: 0;
  }

  .semuaumur select.dropdown {
    width: 100% !important;
    height: 45px;
    margin: 0;
  }

  .tombol-cetak {
    width: 100%;
  }

  h2 {
    margin-top: 30px;
  }

 .table-container {
    width: 100%;
    max-height: 400px;    
    overflow-y: auto;     
    overflow-x: auto;    
    border-radius: 8px;
    box-sizing: border-box;
    display: block;    
  }

  table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #003f66;
  }

  table {
    width: 100%;
    min-width: 600px;    
    border-collapse: collapse;
  }


  

  
}

